header {
    background-color: #12769E;
    color :#E4F4F5;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;

}

footer {  
    height: 2.5em;
    width: 100%;

    background-color: #12769E;
    color :#E4F4F5;

    display : flex;
    align-items: center;
    /* justify-content: center; */
    
    position: fixed;
    bottom: 0;

}

#infos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem; /* espace entre image et texte */
}

#infos > img {
  height: 400px;
  width: 400px;
  object-fit: contain;
  padding: 5%;
}

#infos-text {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
}
