#tabletable_bateau{
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  width: 100%;
  margin: 20px 0;
}


#tabletable_bateau th,
#tabletable_bateau td {
  border: 1px solid rgb(160, 160, 160);
  padding: 10px 12px;
  transition: background-color 0.2s ease;
}

#tabletable_bateau th {
  background-color: rgb(228, 240, 245);
  font-weight: 600;
  text-transform: uppercase;
  color: #2c3e50;
  position: sticky;
  top: 0;
}

#tabletable_bateau td {
  color: #34495e;
}


#tabletable_bateau td:last-of-type {
  text-align: center;
}

#tabletable_bateau tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

#tabletable_bateau thead {
  background-color: rgb(228 240 245);
}

.scroller {
  max-height: 150px; /* ou la hauteur souhaitée */
  overflow-y: auto;  /* active le défilement vertical si le contenu dépasse */
  margin: 10px 0;
}
