form {
      background: white;
      padding: 20px 20px;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      width: 100%;
      align-items: center;
      margin-bottom: 10%;
    }


/*PAGE TABLEAU NAVIRE*/

#bateauxTable {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}

#bateauxTable th {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
}

#bateauxTable th, #bateauxTable td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

#bateauxTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

#bateauxTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#bateauxTable tbody tr:last-of-type {
    border-bottom: 2px solid #007BFF;
}

#bateauxTable tbody tr:hover {
    background-color: #e9e9e9;
}


#predictButton{
  margin-top: 5%;
}
#positionButton{
  margin-top: 5%
}

#prediction{
    margin-top: 5%;
}