/* ===== Arrière-plan spécifique à la page "ajout navire" ===== */
body.page-ajout-navire {
    background-image: url('../images/Bateau_5.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000;
    min-height: 100vh;
}


/* ===== Arrière-plan par défaut ===== */
body {
    background-color: #fff; 
}


/* ===== Formulaire ===== */
form {
      background: white;
      padding: 20px 20px;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      width: 100%;
      align-items: center;
      margin-bottom: 10%;
    }


/* Champs du formulaire dans la page "ajout navire" */

body.page-ajout-navire input.form-control,
body.page-ajout-navire select.form-control,
body.page-ajout-navire textarea.form-control {
  background-color:#d3d3d3;
   /*#BED3C3 ;*/ 
}

/* Titre du formulaire */
#AjoutNavireForm_envoi h3.text-center {
    text-transform: uppercase;
    text-align: center;
    color: #0077be;
    font-size: 2rem;
    font-weight: bold;
    background: none;
    border: none;
    padding: 0;
    margin: 20px 0;
}

/* ===== Boutons personnalisés ===== */
.my-btn-primary {
    all: unset;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 1rem; 
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    border-left: 4px solid #004c73; 
    background: rgb(18, 118, 158); 
    box-shadow: none; 
    border-radius: 0; 
    text-align: left;
    letter-spacing: 0.5px;
    transition: background-color 0.3s ease; 
    cursor: pointer;
}

.my-btn-primary:hover {
    background: rgb(13, 100, 135); 
    cursor: pointer;
}


.my-btn-danger {
    all: unset;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 1rem; 
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    background: #D9534F; 
    box-shadow: none; 
    border-radius: 0; 
    text-align: left;
    letter-spacing: 0.5px;
    transition: background-color 0.3s ease; 
    cursor: pointer;
}

.my-btn-danger:hover {
    background:#C9302C; 
    cursor: pointer;
}
